@inject SignInManager<IdentityUser> SignInManager
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="index" asp-page="./Index">Übersicht</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.GenerateCodesNavClass(ViewContext)" id="generatecodes" asp-page="./GenerateCodes">Registrierungscodes generieren</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.AddUserNavClass(ViewContext)" id="adduser" asp-page="./AddUser">Benutzer hinzufügen</a></li>
</ul>