@page
@model AddFormModel
@{
    ViewData["Title"] = "Klasse hinzufügen";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.Grade"></label>
        <input type="number" asp-for="Input.Grade" id="grade_input" class="form-control" min="4" max="13" onchange="javascript: update();" />
    </div>
    <div class="form-group">
        <label asp-for="Input.Streams"></label>
        <br />
        @{ int i = 0; }
        @foreach (char stream in Form.GetStreams())
        {
            <input type="checkbox" asp-for="Input.Streams[i]" id="opt_@i" />
            <label>@stream</label>
            i++;
        }
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Hinzufügen</button>
    </div>
</form>

<script>
    function update() {
        $.ajax({
            url: '/Admin/GetFormData',
            data: {
                data: $('#grade_input').val()
            }
        })
            .done(function (result) {
                $('#submitBtn').removeAttr('disabled');
                $.each(result, function (key, value) {
                    if (value) {
                        $('#opt_'.concat(key)).attr('checked', true);
                        $('#opt_'.concat(key)).attr('disabled', true);
                    }
                    else {
                        $('#opt_'.concat(key)).removeAttr('checked');
                        $('#opt_'.concat(key)).removeAttr('disabled');
                    }
                });
            });
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}