@page
@model EditFormModel
@{
    ViewData["Title"] = "Klasse hinzufügen";
    ViewData["ActivePage"] = "AddForm";
}

<form method="post">
    <h4>Füge eine Klasse hinzu:</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Year">Jahrgang</label>
        <input asp-for="Input.Year" class="form-control" value="@Model.CurrentForm.Year" />
    </div>
    <div class="form-group">
        <label asp-for="Input.Section">Klasse</label>
        <input asp-for="Input.Section" class="form-control" value="@Model.CurrentForm.Section" />
    </div>
    
    <button type="submit" class="btn btn-primary">Änderungen speichern</button>
</form>

@section Scripts {
}