@page
@model EditFormModel
@{
    ViewData["Title"] = "Klasse hinzufügen";
    ViewData["ActivePage"] = "AddForm";
}

<form method="post">
    <h4>Füge eine Klasse hinzu:</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Year"></label>
        <input type="number" min="4" max="13" asp-for="Input.Year" class="form-control" value="@EditFormModel.CurrentForm.GetGrade().Year" />
    </div>
    <div class="form-group">
        <label asp-for="Input.Stream"></label>
        <input asp-for="Input.Stream" class="form-control" value="@EditFormModel.CurrentForm.Stream" />
    </div>
    
    <button type="submit" class="btn btn-primary">Änderungen speichern</button>
</form>

@section Scripts {
}