@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Küchen-Bereich</h1>
<hr />

<div>
    <div class="row">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}