<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @CounterNavPages.IndexNavClass(ViewContext)" id="index" asp-page="./Index">Bestellungen</a></li>
    <li class="nav-item"><a class="nav-link @CounterNavPages.OrderHistoryNavClass(ViewContext)" id="orderhistory" asp-page="./OrderHistory">Bestellhistorie</a></li>
    <li class="nav-item"><a class="nav-link @CounterNavPages.ProductsNavClass(ViewContext)" id="products" asp-page="./Products">Produktübersicht</a></li>
    <li class="nav-item"><a class="nav-link @CounterNavPages.AllergensNavClass(ViewContext)" id="allergens" asp-page="./Allergens">Allergenübersicht</a></li>
</ul>