@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Theken-Bereich</h1>
<hr />

<div>
    <div class="row">
        <div class="col-xs-2">
            <partial name="_ManageNav" />
        </div>
        <div class="col-lg-10">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
