<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="index" asp-page="./Index">Übersicht</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ProductsNavClass(ViewContext)" id="products" asp-page="./Products">Produktliste</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.OrdersNavClass(ViewContext)" id="orders" asp-page="./Orders">Bestellungen</a></ul>