<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="index" asp-page="./Index">Bestellungen</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ProductsNavClass(ViewContext)" id="products" asp-page="./Products">Produktliste</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.OrderHistoryNavClass(ViewContext)" id="orders" asp-page="./OrderHistory">Bestellhistorie</a>
</ul>