<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="index" asp-page="./Index">Laufende Bestellungen</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PlaceOrderNavClass(ViewContext)" id="placeOrder" asp-page="./PlaceOrder">Bestellung aufgeben</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.OrdersHistoryNavClass(ViewContext)" id="OrderHistory" asp-page="./OrderHistory">Bestellhistorie</a></li>
</ul>