@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "E-Mail-Bestätigung";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Danke, dass du deine E-Mail-Adresse bestätigt hast.
    </p>
</div>