@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Verifizierungsmail versandt!";
}

<h1>@ViewData["Title"]</h1>
<p>
    Überprüfe deinen Posteingang, um dein Passwort zurückzusetzen.
</p>

