@page
@model LockoutModel
@{
    ViewData["Title"] = "Anmeldung vorübergehend nicht möglich";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Dein Konto kann zurzeit nicht angemeldet werden. Versuche es später erneut.</p>
</header>
