@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Passwortzurücksetzung bestätigt";
}

<h1>@ViewData["Title"]</h1>
<p>
    Dein Passwort wurde erfolgreich zurückgesetzt. Klicke <a asp-page="./Login">hier</a>, um dich wieder anzumelden.
</p>
