@{
    ViewData["Title"] = "Start";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
    @Html.Raw(@Program.Greeting(User.GetIdentityUser()?.GetName()))
    <p>Hier könnte Ihre Werbung stehen.</p>
</div>