@{
    ViewData["Title"] = "Start";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
    <h1 class="display-4">@Program.Greeting(User.GetIdentityUser()?.GetName())</h1>
    <p>Hier könnte Ihre Werbung stehen.</p>
</div>
