@{
    ViewData["Title"] = "Start";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
    @Html.Raw(@Program.Greeting(User.GetIdentityUser()?.GetName()))
    <br /><br />
    <h3>Herzlich willkommen auf der Cafeteria-Bestellseite des GNR!</h3>
    <br />
    <h4>Hier kannst du als Schüler*in bzw. Lehrer*in Gerichte aus dem Sortiment der GNR-Cafeteria vorbestellen, um sie dann vor Ort abholen zu können. Klicke hierzu auf den Reiter "Bestellungen".</h4>
    <h4><b>Wichtige Regel: Gerichte, die hier bestellt werden, sind in jedem Fall auch abzuholen!</b></h4>
</div>