@{
    ViewData["Title"] = "Start";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
    <h1 class="display-4">@Program.Greeting(UserEntity.GetUser(UserManager, User).Name)</h1>
    <p>Hier könnte Ihre Werbung stehen.</p>
</div>
